.dane {
    fill: #fcfcf900;
    stroke: #CCC;
    stroke-width: 2px;
}

.water{
    fill: #cccccc65;
    stroke: #CCC;
    stroke-width: 2px;
}

.map {
    border: medium solid #8b5f00f3;
    margin: 10px 0 0 20px;
}

.chart {
    border: medium solid #8b5f00f3;
    float: right;
    margin: 10px 20px 0 0;
}

.madison {
    stroke: #676665;
    stroke-width: 0.5px;
    stroke-linecap: round;
}

.numbers {
    fill: white;
    font-family: sans-serif;
    font-size: .5em;
}

.chart {
    float: right;
    margin: 7px 20px 0 0;
}

.chartTitle {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.chartBackground {
    fill: #faf7ad34;
}

.chartFrame {
    fill: none;
    stroke: #999;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.8em;
    fill: #999;
}

.dropdown {
    position: absolute;
    top: 375px;
    left: 40px;
    z-index: 10;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #8b5f00f3;
    box-shadow: 2px 2px 4px #CCC;
    color: #8b5f00f3
}

option {
    font-weight: normal;
}

.infolabel {
    position: absolute;
    height: 50px;
    min-width: 100px;
    color: #fff;
    background-color: #000;
    border: solid thin #fff;
    padding: 5px 10px;
}

.infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
}

.infolabel {    margin: 0 20px 0 0;    position: absolute;
    height: 50px;
    min-width: 100px;
    color: #8b5f00a6;
    background-color: #faf7ad;
    border: solid thin #fff;
    padding: 5px 8px;
    top: -75px;
}

h1 {
    color:#8b5f00f3;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

h3{
    color:#8b5f00f3;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
body{
    background-color: #faf7ad34;
}

p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    color:#8b5f00f3;

}
